@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'FlameBold';
    src: url('../src/assets/FlameBold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  #slider-boxes{
    display: flex !important;
  }

  .slick-slide div{
    margin: 10px;
  }

  .slick-arrow::before{
    color: red;
    font-size: 50px;
  }

  #bg{
    background-image: url("../src/assets/image/Real\ estate.jpg");
  }
  #partner{
    background-image: url("../src//assets/image/becomePartner.jpg");
  }

  #property{
    background-image: url("../src//assets/image/addProperty.jpg");
  }

  #yellow{
    background-image: url("../src/assets/image/aboutUs.png");
  }